<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/boilerplate.html" %}
    <link rel="stylesheet" href="/static/css/landing.min.css">
    <title>jvadair</title>
</head>
<body>
{% include "components/header.html" %}
<main>
    <div id="landing">
        <div class="info">
            <div class="links">
                {% for link in config.nav._values %}
                    {% set link = config.nav.get(link) %}
                    <a href="{{ link._val }}">{{ link._name }}</a>
                {% endfor %}
            </div>
            <p>Keep scrolling!</p>
        </div>
        <div class="pretty">
            <div class="hero image-container">
                <img class="hero-image" src="/static/img/hero/{{ config.hero_image.filename._val }}" alt="{{ config.hero_image.alt._val }}">
                <div class="image-tooltip">
                    <p>{{ config.hero_image.alt._val }}</p>
                </div>
            </div>
            <img class="jvadair-fancy" src="/static/img/hero/jvadair-text.svg" alt="jvadair">
        </div>
    </div>
    {% for section in config.sections._values %}
        {% set section = config.sections.get(section) %}
        <section id="{{ section._name}}">
            <div class="info">
                <h1>{{ section.title._val }}</h1>
                <p>{{ section.description._val | safe }}</p>
                {% if section.action._val %}
                    <a class="btn" href="{{ section.action.url._val }}">{{ section.action.text._val }}</a>
                {% endif %}
            </div>
            <div class="image">
                {% if section.image._val %}
                    <div class="image-container">
                    <img src="/static/img/sections/{{ section.image.src._val }}" alt="{{ section.image.alt._val }}">
                        <div class="image-tooltip">
                            <p>{{ section.image.alt._val }}</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>
    {% endfor %}
</main>
<script>
    var mouseX;
    var mouseY;
    $(document).mousemove(function(e) {
       mouseX = e.pageX;
       mouseY = e.pageY-window.scrollY;
    });
    $(".image-container").mousemove(function(e){
      sel = $(this).find('.image-tooltip').eq(0);
      let w = (sel.width()/2)
      sel.css({'top':mouseY+15, 'left':(mouseX-w)});
    });
</script>
{% include "components/footer.html" %}
</body>
</html>